@charset "utf-8";
main{
    background-color: rgb(133, 177, 132);
    min-height: 600px;
}
.main_cont{
    width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 330px 740px; /* 각 행 길이 */
    grid-template-rows: 70px 700px 310px;  /* 각 열 길이 */
    gap: 10px;
    /* 자식요소간 간격 */
}
.tempbox {
    background: rgb(230, 173, 108);
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: 1px solid #dee3eb;
    text-align: center;
}
.tbox2{
    display: flex;
    flex-direction: rows; /* 가로 정렬 */
    border: none;   /* border를 지우고 2-1과 2-2에 각각 border를 적용해줍니다. */
}
.tbox2 > div:first-child {
    width: 100%;
    flex: 3;
}
.tbox2 > div:last-child {
    width: 100%;
    flex: 1;
}
.tb_gap {
    background: #f2f4f7;
    width: 10px;
}
.dv1 {
    text-align: center;
}
.maker_zone {
    width: 300px;
}
.sns_zone {
    width: 300px;
}